## Strætó EDA

### Having a look at the files in "gtfs.zip" found at https://opendata.straeto.is/data/gtfs/.

In [5]:
import pandas as pd
import os

data_path = 'data'

files = os.listdir(data_path)

for file in files:
    print(file)

agency.txt
calendar_dates.txt
stop_times.txt
shapes.txt
trips.txt
stops.txt
routes.txt

In [8]:
dataframes = {}

for file in files:
    if file.endswith('.txt'):
        filename = os.path.splitext(file)[0]
        dataframes[filename] = pd.read_csv(os.path.join(data_path, file), sep= ',')

In [15]:
for name, df in list(dataframes.items()):
    print(f"Showing head and shape for {name}.txt:\n")
    display(df.head())
    display(df.shape)

Showing head and shape for agency.txt:

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url
0,1,Strætó BS,http://straeto.is/,Atlantic/Reykjavik,is,(+354)5402700,https://www.straeto.is/verslun
1,2,Reykjanesbær,http://straeto.is/,Atlantic/Reykjavik,is,(+354)5402700,http://straeto.is/verslun
2,3,Akureyri,http://straeto.is/,Atlantic/Reykjavik,is,(+354)5402700,http://straeto.is/verslun

(3, 7)

Showing head and shape for calendar_dates.txt:

            service_id      date  exception_type
0   20220522_MTWTF--_1  20230628               1
1   20220522_MTWTF--_3  20230628               1
2  20220904_--W----_90  20230628               1
3  20220904_--WT---_10  20230628               1
4  20220904_M-W-F--_11  20230628               1

(2162, 3)

Showing head and shape for stop_times.txt:

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type
0,509532,07:25:00,07:25:00,60000001,1,Glerárgata / Eiðsvallagata,0
1,509532,07:26:00,07:26:00,60000069,2,Glerárgata / Eyrarvegur,0
2,509532,07:26:00,07:26:00,60000070,3,Þórunnarstræti / Lögreglustöð,0
3,509532,07:28:00,07:28:00,60000054,4,Þórunnarstræti / Hamarstígur,0
4,509532,07:29:00,07:29:00,60000052,5,Þórunnarstræti / Íþróttahöll,0

(336963, 7)

Showing head and shape for shapes.txt:

          shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0  103_1006480_1_9     64.143304    -21.914677                  1
1  103_1006480_1_9     64.143445    -21.914596                  2
2  103_1006480_1_9     64.143513    -21.914589                  3
3  103_1006480_1_9     64.143563    -21.914743                  4
4  103_1006480_1_9     64.143734    -21.915586                  5

(462677, 4)

Showing head and shape for trips.txt:

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id
0,AF.91,20220904_-----S-_26,516175,NaN,NaN,0,6193_91-A,91_1006320_1_30
1,AF.91,20220904_-----S-_26,516183,NaN,NaN,1,6193_91-A,91_1006320_2_72
2,AF.91,20220904_MTWTF--_27,516176,NaN,NaN,0,6189_91-A,91_1006320_1_30
3,AF.91,20220904_MTWTF--_27,516179,NaN,NaN,0,6189_91-A,91_1006320_1_30
4,AF.91,20220904_MTWTF--_27,516180,NaN,NaN,1,6189_91-A,91_1006320_2_67

(11130, 8)

Showing head and shape for stops.txt:

    stop_id     stop_name   stop_lat   stop_lon  location_type
0  10000802     Hamraborg  64.111089 -21.908351              0
1  10000804     Sunnuhlíð  64.109082 -21.909596              0
2  10000805  Kópavogslaug  64.109198 -21.917279              0
3  10000806  Kársnesskóli  64.109192 -21.924001              0
4  10000807       Kópavör  64.109299 -21.930667              0

(1320, 5)

Showing head and shape for routes.txt:

,route_id,agency_id,route_short_name,route_long_name,route_type
0,AF.91,1,91,Egilsstaðir <-> Norðfjörður,3
1,AF.92,1,92,Breiðdalsvík <-> Fáskrúðsfjörður,3
2,AF.93,1,93,Seyðisfjörður <-> Egilsstaðir,3
3,AF.94,1,94,Breiðdalsvík <-> Höfn,3
4,AF.95,1,95,Egilsstaðir <-> Borgarfjörður,3

(70, 5)

In [17]:
schema = {}

for name, df in dataframes.items():
    schema[name] = df.dtypes

for name, dtypes in schema.items():
    print(f"Schema for {name}:\n")
    print(dtypes)

Schema for agency:

agency_id           int64
agency_name        object
agency_url         object
agency_timezone    object
agency_lang        object
agency_phone       object
agency_fare_url    object
dtype: object
Schema for calendar_dates:

service_id        object
date               int64
exception_type     int64
dtype: object
Schema for stop_times:

trip_id            int64
arrival_time      object
departure_time    object
stop_id            int64
stop_sequence      int64
stop_headsign     object
pickup_type        int64
dtype: object
Schema for shapes:

shape_id              object
shape_pt_lat         float64
shape_pt_lon         float64
shape_pt_sequence      int64
dtype: object
Schema for trips:

route_id            object
service_id          object
trip_id              int64
trip_headsign       object
trip_short_name    float64
direction_id         int64
block_id            object
shape_id            object
dtype: object
Schema for stops:

stop_id            int64
stop_name         object
stop_lat         float64
stop_lon         float64
location_type      int64
dtype: object
Schema for routes:

route_id            object
agency_id            int64
route_short_name     int64
route_long_name     object
route_type           int64
dtype: object

### By creating a schema, we can see the relationship between tables

![title](data/schema.png)